/*디테일*/
.productDetail-wrap {
  width: 1150px;
  margin: 0 auto;
}
.productDetail-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.productDetail-content {
  display: flex;
  justify-content: space-between;
}
.productDetail-content-left {
  /*height: 사진 600, 써머리&판매자정보 200, 상세설명 600*/
  /*각각 margin-bottom : 50px*/
  width: 700px;
}
.productDetail-content-right {
  /*height : 차트 300, 비드 500, 품질 600*/
  /*각각 margin-bottom : 50px*/
  width: 350px;
}

/************************************/
/*박성완*/

.productDetail-content-right > div {
  margin-bottom: 50px;
}

.productArticle {
  display: block;
  padding: 30px;
  border-radius: 20px;
  background-color: #f7f7f7;
  box-sizing: border-box;
}

/* productDetail-top */
.productDetail-top-title {
  font-size: 60px;
}

.productDetail-top-btns {
  display: flex;
  align-items: center;
}
.productDetail-top-btns > div {
  margin-left: 5px;
}
.productDetail-updateBtn,
.productDetail-deleteBtn {
  width: 80px;
}
.productDetail-ikeBtn {
  display: flex;
  align-items: center;
}
.productDetail-ikeBtn > .like-image {
  font-size: 30px;
  color: var(--main_02);
  cursor: pointer;
  margin-left: 15px;
}
.pswProductDetailBtn {
  width: 100%;
  border: 1px solid var(--gray_02);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center; /*input_wrap_psw에서 이거 한 줄 바뀜*/
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
}
.productDetail-top-btns .pswProductDetailBtn:hover {
  border: 3px solid var(--main_01);
  box-sizing: border-box;
}
/* --productDetail-top */

/* ProductChart.js */
.productDetail-chart {
  width: 100%;
  height: 300px;
}
.productDetail-chart .productChart-chart {
  height: 250px;
}
/* --ProductChart.js */

/* ProductBid.js */
.productDetail-bid {
  width: 100%;
  height: 500px;
  overflow-y: auto;
}
.productBid-title .productBidBox-left {
  font-size: 24px;
  font-family: ns-b;
}
.productBid-title > .productBidBox-wrap {
  margin: 20px 0px;
}
.productBidBox-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  margin-bottom: 10px;
}
.productBidBox-left {
  width: 220px;
  position: relative;
}
.productBidBox-right {
  width: 80px;
  margin-right: 20px;
}
.productBidBox-left > .badge {
  position: absolute;
  left: 120px;
  top: 5px;
}
.productBidBox-left > .productBidBox {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 2px;
  color: var(--main_02);
  padding-top: 5px;
  padding-bottom: 5px;
}
.productBidBox > .productBidDeleteBtn {
  color: var(--gray_01);
}
.productBidBox > .productBidDeleteBtn:hover {
  color: var(--main_02);
}

.productBidBox-right > .productBidBox {
  padding-top: 5px;
  padding-bottom: 5px;
}
.productBidBox-left > .productPrice {
  color: var(--main_01);
}
.productBidBox-right > .productPrice:hover {
  border: 3px solid var(--main_01);
  box-sizing: border-box;
}
.productBidBox-left > .myBid {
  border: 1px solid var(--main_02);
  box-sizing: border-box;
}
.productBidBox-right > .myBid:hover {
  border: 3px solid var(--main_02);
  box-sizing: border-box;
}
.productBidBox-left > .productOwner:hover {
  border: 1px solid var(--main_02);
  box-sizing: border-box;
}
.productBidBox-right > .productOwner:hover {
  border: 3px solid var(--main_02);
  box-sizing: border-box;
}
.productBidBox-left > .productPrice {
  border: 1px solid var(--main_01);
  box-sizing: border-box;
}
.productBidBox-right > .insertBidBtn:hover {
  border: 3px solid var(--main_01);
  box-sizing: border-box;
}
/* --ProductBid.js */
