/*디테일*/
.productDetail-wrap {
  width: 1150px;
  margin: 0 auto;
}
.productDetail-top {
  display: flex;
  justify-content: space-between;
}
.productDetail-content {
  display: flex;
  justify-content: space-between;
}
.productDetail-content-left {
  /*height: 사진 600, 써머리&판매자정보 200, 상세설명 600*/
  /*각각 margin-bottom : 50px*/
  width: 700px;
}
.productDetail-content-right {
  /*height : 차트 300, 비드 500, 품질 600*/
  /*각각 margin-bottom : 50px*/
  width: 350px;
}

/************************************/
/*박성완*/

.productArticle {
  display: block;
  padding: 30px;
  border-radius: 20px;
  background-color: #f7f7f7;
  box-sizing: border-box;
}
.example {
  width: 300px;
  height: 300px;
}
