/*디테일*/
.productDetail-wrap {
  width: 1150px;
  margin: 0 auto;
}
.productDetail-top {
  display: flex;
  justify-content: space-between;
}
.productDetail-content {
  display: flex;
  justify-content: space-between;
}
.productDetail-content-left {
  width: 700px;
}
.productDetail-content-right {
  width: 350px;
}

.productArticle {
  display: block;
  padding: 30px;
  border-radius: 20px;
  background-color: #f7f7f7;
  box-sizing: border-box;
}

/************************************/
/*박근열*/

.productDetail-image {
  width: 90%;
}

.swiper-slide img{
  width: 100%;
}


