/* 기본 색상 */
:root {
  /* main color */
  /* --main_01:#4389BA; */
  --main_01: #0267f3;
  --main_02: #ff3d00;
  --main_03: #2f6082;
  --main_04: #8f8f8f;
  --main_05: #1065dc;

  /* bg color */
  --bg_01: #ebf7ff;
  --bg_02: #ffeaea;
  --bg_03: #5e5e5ef8;

  /*black color */
  --black_01: black;

  /* gray color */
  --gray_01: #222222;
  --gray_02: #555555;
  --gray_03: #717171;
  --gray_04: #8f8f8f;
  --gray_05: #b7b7b7;
  --gray_06: #d6d6d6;
  --gray_07: #efefef;
  --gray_08: #ffffff;

  /* line color */
  --line_01: #222222;
  --line_02: #d6d6d6;
  --line_03: #eaeced;
  --line_04: #f6f6f6;
  --line_05: #f8f9fa;
}

/* 좋아요 */

.mypage-current-wrap {
  color: #1e1e1e;
  width: 900px;
  margin: 0 auto;
}
.mypage-current-title {
  padding: 20px 0px;
  color: #222222;
  font-family: ns-b;
  font-size: 24px;
}
.like-icon {
  font-size: 40px;
  color: #0267f3;
  padding: 0px 10px;
  text-shadow: 0px 0px 10px blue;
  cursor: default;
}
.member-like-tbl-box {
  display: flex;
  justify-content: center;
}

.member-like-tbl-box table {
  width: 100%;
  padding-bottom: 100px;
  font-size: 13px;
}
.member-like-img-box > img {
  width: 90px;
  height: 90px;
}
.member-like-tbl-box > table {
  border-spacing: 0;
}
.member-like-tbl-box > table > thead > tr > th {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}
.member-like-tbl-box > table > tbody > tr > td:not(.likeName-td) {
  text-align: center;
}
.member-like-tbl-box > table > tbody > tr > td {
  padding: 20px 5px;
}
.member-like-img-box {
  padding: 10px;
}
.member-like-img-box > img {
  width: 100px;
  height: 100px;
}
.like-cancel-icon {
  color: #da1d1d;
  cursor: pointer;
}
.like-cancel-icon:hover {
  text-shadow: 0px 0px 10px red;
}
.purchase-btn-box > button:hover {
  background-color: #0267f3;
  box-shadow: 0px 0px 5px blue;
}

/* 마이페이지 */

.mypage-title {
  font-size: 26px;
}

.sideMenu-title {
  font-size: 20px;
  padding-top: 40px;
}

.sideMenu-wrap {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.mypage-wrap {
  display: flex;
  padding-bottom: 160px;
}
.mypage-content {
  flex: 1;
  padding: 10px;
}

/* 주소록 */
.address-list-wrap {
  border-top: 1px solid #ccc;
}
.address-list {
  padding: 5px 10px;
}
.basic-address-btn {
  position: absolute;
  right: 5px;
  bottom: 10px;
}
.address-title {
  position: relative;
}
.address-btn {
  padding: 10px 15px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 7px;
}
.address-btn:hover {
  /*color: #0267f3;*/
  text-shadow: 0px 0px 0px black;
}
.non-address {
  padding: 100px;
}
.non-address > div {
  text-align: center;
  color: #8f8f8f;
  font-size: 15px;
  padding: 2px;
}
.non-address > div:nth-child(3) {
  padding-top: 10px;
}
/* 사이드메뉴 */

.sideMenu > ul > li > a {
  color: #b7b7b7;
}

.sideMenu > ul > li {
  padding: 3px 0;
}

.sideMenu > ul > li > a:hover {
  color: #0267f3;
  font-weight: 900;
}

.sideMenu > ul > li > a.active-side {
  color: #0267f3;
  font-weight: 900;
}

.mypage-sideMenu {
  box-sizing: border-box;
  width: 200px;
}
/* 회원가입 */

.join-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 650px;
  margin: 0 auto;
}

.input-with-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-with-btn input {
  min-width: 510px;
}

.input-with-btn button {
  min-width: 110px;
}

.join-title {
  padding-bottom: 40px;
  font-size: 26px;
}

.join-btn button {
  width: 350px;
}

.join-btn {
  display: flex;
  justify-content: center;
}

.join-input-wrap {
  padding: 20px 0;
}

.gender-title {
  padding-bottom: 13px;
}

.join-gender {
  padding-top: 17px;
  padding-bottom: 15px;
}

.gender-box {
  padding: 17px 32px;
  padding-bottom: 25px;
  border: 1px solid #b7b7b7;
  border-radius: 15px;
}

.join-gender label {
  padding: 0 15px;
}

.bank-input-wrap {
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0 0 0 1px #b7b7b7;
  max-height: 330px;
  min-height: 330px;
}

.bank-input-wrap > .label {
  padding-bottom: 15px;
}
.bank-input-wrap select {
  width: 560px;

  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #b7b7b7;
}

.little-text {
  font-size: 12px;
  color: #8f8f8f;
}

.join-btn {
  padding: 30px 0;
}

.bank-title {
  padding: 10px 0;
}

.input-wrap input::placeholder {
  font-size: 14px;
  color: #b7b7b7;
}

.check-msg {
  font-size: 13.5px;
  color: #f44336;
}
