<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.product.model.dao.ProductDao">

	<select id="selectProductCategory" resultType="productCategory">
		select * 
			<if test = "table == 'IPHONE_TBL'">from IPHONE_TBL</if>
			<if test = "table == 'MACBOOK_TBL'">from MACBOOK_TBL</if>
			<if test = "table == 'IPAD_TBL'">from IPAD_TBL</if>
			<if test = "table == 'WATCH_TBL'">from WATCH_TBL</if>
			<if test = "table == 'AIRPODS_TBL'">from AIRPODS_TBL</if>
		where product_line = #{productLine}
		order by rownum desc
	</select>
	 
	<select id="selectQualityList" resultType="quality">
		select * from quality_tbl where table_name = #{tableName}
	</select>
	

	<select id="selectOneProduct" resultType="product">
		select * from product_tbl where product_no = #{productNo}
	</select>

	<insert id="insertProduct">
		insert into product_tbl 
		values
		(product_seq.nextval,#{memberNo},#{productQuality},#{productTitle},
		#{productExplain},#{productPrice},sysdate,0,#{productLine},#{productGen},#{productModel},
		#{productModel2},#{productColor},#{productStorage},#{productMemory},#{productChip},#{productCpu},#{productGpu},#{productSize},#{productConnectivity},
		#{productCharge},#{productThumbnail},#{productSummary},#{tableName}
		)
		<selectKey resultType="int" keyProperty="productNo" order="AFTER">
			select max(product_no) from product_tbl
		</selectKey>
	</insert>
	
	<insert id="insertProductFile">
	insert into product_file_tbl values
	(product_file_seq.nextval,#{productNo},#{filename},#{filepath})
	</insert>

	
	<insert id="insertIphoneQualityHistory">
		insert into IPHONE_QUALITY_HISTORY_TBL values
		(
			iphone_quality_histroy_seq.nextval,#{productNo},#{productScreen},#{backPanelSide},#{burnIn},#{display},#{power},#{camera},
			#{wifi},#{biometricAuthentication},#{compass},#{voiceRecording}
		)
	</insert>
	
	<insert id="insertMacbookQualityHistory">
		insert into MACBOOK_QUALITY_HISTORY_TBL values
		(
			macbook_quality_history_seq.nextval,#{productNo},#{displayScreen},#{backPanelSide},#{burnIn},#{display},#{keyboard},#{ports},#{batteryEfficiency},
			#{wirelessConffectivity},#{camera},#{microphone},#{speakersAudioJack},#{biometricAuthentication},#{power},#{voiceRecording},#{trackpad},#{operation}
		)
	</insert>
	
	<insert id="insertIpadQualityHistory">
		insert into IPAD_QUALITY_HISTORY_TBL values
		(
			ipad_quality_history_seq.nextval,#{productNo},#{displayScreen},#{backPanelSide},#{burnIn},#{display},#{keyboard},#{ports},#{batteryEfficiency},#{wirelessConffectivity}
			,#{camera},#{microphone},#{speakersAudioJack},#{biometricAuthentication},#{power},#{voiceRecording},#{operation}
		)
	</insert>
	
	<insert id="insertWatchQualityHistory">
		insert into WATCH_QUALITY_HISTORY_TBL values
		(
			watch_quality_history_seq.nextval,#{productNo},#{displayScreen},#{backPanelSide},#{burnIn},#{display},#{digitalCrownButton},#{batteryEfficiency},#{wirelessConffectivity}
			,#{microphone},#{speaker},#{power},#{voiceRecording},#{operation}
			
		)
	</insert>
	
	<insert id="insertAirpodsQualityHistory">
		insert into AIRPODS_QUALITY_HISTORY_TBL values
		(
			airpods_quality_history_seq.nextval,#{productNo},#{soundQuality},#{connectionStability},#{batteryEfficiency},#{exterior},#{charging},#{touchSensor}
		)
	</insert>

</mapper>
