<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.product.model.dao.ProductDao">

	<select id="selectProductCategory" resultType="productCategory">
		select * 
			<if test = "table == 'IPHONE_TBL'">from IPHONE_TBL</if>
			<if test = "table == 'MACBOOK_TBL'">from MACBOOK_TBL</if>
			<if test = "table == 'IPAD_TBL'">from IPAD_TBL</if>
			<if test = "table == 'WATCH_TBL'">from WATCH_TBL</if>
			<if test = "table == 'AIRPODS_TBL'">from AIRPODS_TBL</if>
		where product_line = #{productLine}
		order by rownum desc
	</select>
	
	<select id="volume" resultType="trade">
		
	</select>
	
	 
	<select id="selectQualityList" resultType="quality">
		select * from quality_tbl where table_name = #{tableName}
	</select>
	

	<select id="selectOneProduct" resultType="product">
		select * from product_tbl where product_no = #{productNo}
	</select>

	<insert id="insertProduct">
		insert into product_tbl 
		values
		(product_seq.nextval,#{memberNo},#{productQuality},#{productTitle},
		#{productExplain},#{productPrice},sysdate,0,#{productLine},#{productGen},#{productModel},
		#{productModel2},#{productColor},#{productStorage},#{productMemory},#{productChip},#{productCpu},#{productGpu},#{productSize},#{productConnectivity},
		#{productCharge},#{productThumbnail},#{productSummary},#{tableName}
		)
		<selectKey resultType="int" keyProperty="productNo" order="AFTER">
			select max(product_no) from product_tbl
		</selectKey>
	</insert>
	
	<insert id="insertProductFile">
	insert into product_file_tbl values
	(product_file_seq.nextval,#{productNo},#{filename},#{filepath})
	</insert>

	
	<insert id="insertIphoneQualityHistory">
		insert into IPHONE_QUALITY_HISTORY_TBL values
		(
			iphone_quality_history_seq.nextval,#{productNo},#{displayScreen},#{backPanelSide},#{burnIn},#{display},#{power},#{camera},
			#{wifi},#{biometricAuthentication},#{compass},#{voiceRecording}
		)
	</insert>
	
	<insert id="insertMacbookQualityHistory">
		insert into MACBOOK_QUALITY_HISTORY_TBL values
		(
			macbook_quality_history_seq.nextval,#{productNo},#{displayScreen},#{backPanelSide},#{burnIn},#{display},#{keyboard},#{ports},#{batteryEfficiency},
			#{wirelessConffectivity},#{camera},#{microphone},#{speakersAudioJack},#{biometricAuthentication},#{power},#{voiceRecording},#{trackpad},#{operation}
		)
	</insert>
	
	<insert id="insertIpadQualityHistory">
		insert into IPAD_QUALITY_HISTORY_TBL values
		(
			ipad_quality_history_seq.nextval,#{productNo},#{displayScreen},#{backPanelSide},#{burnIn},#{display},#{ports},#{batteryEfficiency},#{wirelessConffectivity}
			,#{camera},#{microphone},#{speakersAudioJack},#{biometricAuthentication},#{power},#{voiceRecording},#{operation}
		)
	</insert>
	
	<insert id="insertWatchQualityHistory">
		insert into WATCH_QUALITY_HISTORY_TBL values
		(
			watch_quality_history_seq.nextval,#{productNo},#{displayScreen},#{backPanelSide},#{burnIn},#{display},#{digitalCrownButton},#{batteryEfficiency},#{wirelessConffectivity}
			,#{microphone},#{speaker},#{power},#{voiceRecording},#{operation}
			
		)
	</insert>
	
	<insert id="insertAirpodsQualityHistory">
		insert into AIRPODS_QUALITY_HISTORY_TBL values
		(
			airpods_quality_history_seq.nextval,#{productNo},#{soundQuality},#{connectionStability},#{batteryEfficiency},#{exterior},#{charging},#{touchSensor}
		)
	</insert>
	
	<select id="likeBoolean" resultType="int">
		select count(*) from like_tbl where product_no = #{productNo} and member_no=#{memberNo}
	</select>
	
	<select id="selectOneView" resultType="product">
		select
		    product_no,
		    member_no,
		    product_quality,
		    product_title,
		    product_explain,
		    product_price,
		    to_char(product_date,'yyyy-mm-dd'),
		    product_hide,
		    product_line,
		    product_gen,
		    product_model,
		    product_model2,
		    product_color,
		    product_storage,
		    product_memory,
		    product_chip,
		    product_cpu,
		    product_gpu,
		    product_size,
		    product_connectivity,
		    product_charge,
		    product_thumbnail,
		    product_summary,
		    table_name,
		    (select count(*) from like_tbl where product_no = #{productNo}) as like_count
		from product_tbl
		where product_no = #{productNo}
	</select>


	<select id="selectSellerReviews" resultType="sellerReview">
		select * from review_tbl where review_seller = #{sellerNo} order by trade_no desc
	</select>
	
	<select id="selectSellerProducts" resultType="product">
		select * from product_tbl where member_no = #{sellerNo} order by product_no desc
	</select>
	
	<select id="selectProductFiles" resultType="productFile">
		select * from product_file_tbl where product_no = #{productNo}
	</select>
	
	<select id="selectIphoneQualityHistory" resultType="iphoneQualityHistory">
		select * from IPHONE_QUALITY_HISTORY_TBL where product_no = #{productNo}
	</select>
	
	<select id="selectMacbookQualityHistory" resultType="macbookQualityHistory">
		select * from MACBOOK_QUALITY_HISTORY_TBL where product_no = #{productNo} 
	</select>
	
	<select id="selectIpadQualityHistory" resultType="ipadQualityHistory">
		select * from IPAD_QUALITY_HISTORY_TBL where product_no = #{productNo} 
	</select>
	
	<select id="selectWatchQualityHistory" resultType="watchQualityHistory">
		select * from WATCH_QUALITY_HISTORY_TBL where product_no = #{productNo} 
	</select>
	
	<select id="selectAirpodsQualityHistory" resultType="airpodsQualityHistory">
		select * from AIRPODS_QUALITY_HISTORY_TBL where product_no = #{productNo} 
	</select>
	
	<select id="selectReliableProducts" resultType="reliableProductList">
		select
		    p.product_no,
		    p.product_summary,
		    p.product_price,
		    member_no,
		    m.member_name,
		    m.seller_score
		from product_tbl p
		join member_tbl m using (member_no)
		where product_summary = #{summary} and rownum <![CDATA[<=]]> 10
		order by m.seller_score desc
	</select>
	
	<insert id="insertLike">
		insert into like_tbl values (like_seq.nextval, #{memberNo}, #{productNo})
	</insert>
	
	<delete id="deleteLike">
		delete from like_tbl where member_no = #{memberNo} and product_no = #{productNo}
	</delete>
	
	<update id="hideProduct">
		update product_tbl set product_hide = 1 where product_no = #{productNo}
	</update>

</mapper>
