.admin-wrap {
  display: flex;
}

.admin-sideMenu {
  width: 200px;
}

.admin-section-wrap {
  width: 1000px;
}
.admin-title {
  font-size: 36px;
  font-family: ns-eb;
  margin-bottom: 20px;
}

.sideMenu-wrap .sideMenu ul li {
  margin: 15px 0;
}
